extends base

block content 
    p=` Hi ${name},`
    p This is the password mails
    p If you didn't request to reset the password, please ignore this mail
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') To Password Reset
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - Htoo Naung Wint,
    p=`  CEO who pick nose 🥸`